<form action="">
   <p class="help-block">Type and hit enter to search</p>
   <input type="text" placeholder="I'm looking for..." ng-model="searchTerm" class="form-control input-huge" />
   <button type="submit" class="hidden">Search</button>
</form>
<div class="row">
   <div class="col-md-4 col-sm-6 pv">
      <h4 class="text-bold pv-lg">People (4)</h4>
      <br/>
      <ul class="list-unstyled">
         <!-- START User-->
         <li class="media">
            <div class="media-left media-middle">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="">
                     <img src="app/img/user/05.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-success point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="" class="text-md">Marc Fuller</a>
               </div>
            </div>
         </li>
         <!-- END User-->
         <!-- START User-->
         <li>
            <hr/>
         </li>
         <li class="media">
            <div class="media-left media-middle">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="">
                     <img src="app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-success point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="" class="text-md">Wade Wade</a>
               </div>
            </div>
         </li>
         <!-- END User-->
         <!-- START User-->
         <li>
            <hr/>
         </li>
         <li class="media">
            <div class="media-left media-middle">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="">
                     <img src="app/img/user/07.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-danger point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="" class="text-md">Alan Boyd</a>
               </div>
            </div>
         </li>
         <!-- END User-->
         <!-- START User-->
         <li>
            <hr/>
         </li>
         <li class="media">
            <div class="media-left media-middle">
               <!-- Contact avatar-->
               <div class="point-pin">
                  <a href="">
                     <img src="app/img/user/01.jpg" alt="Image" class="media-object img-circle thumb40" />
                  </a>
                  <div class="point point-danger point-lg"></div>
               </div>
            </div>
            <!-- Contact info-->
            <div class="media-body">
               <div class="media-heading"><a href="" class="text-md">Ryan Carr</a>
               </div>
            </div>
         </li>
         <!-- END User-->
      </ul>
   </div>
   <div class="col-md-4 col-sm-6 pv">
      <h4 class="text-bold pv-lg">Pages (3)</h4>
      <br/>
      <ul class="list-unstyled">
         <li class="media">
            <div class="media-left media-middle">
               <div class="thumb40 bg-success circle text-center text-bold">D</div>
            </div>
            <div class="media-body">
               <div class="media-heading clearfix"><a ui-sref="app.dashboard" layer-morph-close="" class="pull-left text-md">Dashboard</a>
                  <small class="text-muted pull-right mt">3 matches</small>
               </div>
            </div>
         </li>
         <li>
            <hr/>
         </li>
         <li class="media">
            <div class="media-left media-middle">
               <div class="thumb40 bg-purple circle text-center text-bold">P</div>
            </div>
            <div class="media-body">
               <div class="media-heading clearfix"><a ui-sref="app.extras.profile" layer-morph-close="" class="pull-left text-md">Profile</a>
                  <small class="text-muted pull-right mt">3 matches</small>
               </div>
            </div>
         </li>
         <li>
            <hr/>
         </li>
         <li class="media">
            <div class="media-left media-middle">
               <div class="thumb40 bg-danger circle text-center text-bold">P</div>
            </div>
            <div class="media-body">
               <div class="media-heading clearfix"><a ui-sref="app.extras.projects" layer-morph-close="" class="pull-left text-md">Projects</a>
                  <small class="text-muted pull-right mt">2 match(es)</small>
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>