// top navbar
header(ng-include="'templates/top-navbar.html'", ng-class="app.theme.topbar")

// Sidebar
aside(ng-include="'templates/sidebar.html'", ng-class="app.theme.sidebar")

// Main
section
  // Content
  .app.app-fh(ui-view="", autoscroll="false", ng-class="app.views.animation")
  
// Page footer
footer(ng-include="'templates/footer.html'")