.app-view-header.text-center Thumbnail Gallery + Touch Lightbox

.row
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg2.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg2.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg1.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg1.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg2.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg2.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg3.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg3.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg2.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg2.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg1.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg1.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg1.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg1.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg2.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg2.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg3.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg3.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
  .col-lg-3.col-md-4.col-sm-6
    .thumbnail
      a(href="app/img/bg2.jpg", data-gallery="", title="Unsplash images")
        img(src='app/img/bg2.jpg', alt='thumb')
      .caption
        h3 Picture Name
        p Updated
          span.text-muted 27 feb at 10:00 am
// The Gallery as lightbox dialog, should be a child element of the document body
#blueimp-gallery.blueimp-gallery
  .slides
    h3.title
    a.prev &lsaquo;
    a.next &rsaquo;
    a.close &times;
    a.play-pause
    ol.indicator
