.app-view-header Timeline
section.tl-timeline-container
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-picture
      em.fa.fa-camera
    .tl-timeline-content
      h2 Timeline block 1
      p Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Vestibulum pretium mollis ligula, at ultrices quam egestas et. Mauris a velit id neque dignissim congue. 
      a.btn.btn-default.tl-read-more(href='#0') Read more
      span.tl-date Jan 14
  // timeline block
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-movie
      em.fa.fa-play
    .tl-timeline-content
      h2 Timeline block 2
      p Sed egestas, augue vitae blandit imperdiet, justo neque tincidunt sapien, in egestas libero orci id mauris. In sit amet accumsan arcu. Pellentesque vulputate diam elit. 
      a.btn.btn-default.tl-read-more(href='#0') Read more
      span.tl-date Jan 18
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-picture
      em.fa.fa-camera
    .tl-timeline-content
      h2 Timeline block 3
      p Pellentesque tincidunt tempus semper. Donec congue sagittis mi sit amet tincidunt. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit. Suspendisse risus nisl, iaculis at rhoncus sed, ultrices sed lacus. Aenean mollis augue vitae urna congue consequat. 
      a.btn.btn-default.tl-read-more(href='#0') Read more
      span.tl-date Jan 24
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-location
      em.fa.fa-map-marker
    .tl-timeline-content
      h2 Timeline block 4
      p Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Vestibulum pretium mollis ligula, at ultrices quam egestas et. Mauris a velit id neque dignissim congue. 
      a.btn.btn-default.tl-read-more(href='#0') Read more
      span.tl-date Feb 14
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-location
      em.fa.fa-map-marker
    .tl-timeline-content
      h2 Timeline block 5
      p Pellentesque in elit lectus, nec varius tellus. Morbi a odio eros, in rutrum erat. 
      a.btn.btn-default.tl-read-more(href='#0') Read more
      span.tl-date Feb 18
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon.tl-movie
      em.fa.fa-play
    .tl-timeline-content
      h2 Last Block
      p Sed accumsan adipiscing enim. Donec ac massa tortor. 
      span.tl-date Feb 26
  // timeline block
  // timeline block
  .tl-timeline-block
    .tl-timeline-icon
      em.fa.fa-star
  // timeline block
// cd-timeline

