.app-view-header Pricing Table
  small Fully responsive pricing tables

.row
  .col-lg-4.col-md-4.col-sm-6
    .panel.panel-default.text-center
      .panel-body
        .p.bb-info.mb
          .text-md BASIC
        .text-md $12
        em.text-muted per month
        ul.list-unstyled
          li.bb.pv 10GB Storage
          li.bb.pv 100GB Bandwidth
          li.bb.pv 10 domains
          li.bb.pv 20 email accounts
          li.bb.pv 5 Database
          li.pv No support
          li.pv
            p Praesent in libero at neque gravida venenatis auctor nec arcu. 
            a.btn.btn-primary(href='') Choose Plan
  .col-lg-4.col-md-4.col-sm-6
    .panel.panel-default.text-center
      .panel-body
        .p.bb-purple.mb
          .text-md PROFESSIONAL
        .text-md $22
        em.text-muted per month
        ul.list-unstyled
          li
          li.bb.pv 100GB Storage
          li.bb.pv 500GB Bandwidth
          li.bb.pv 30 domains
          li.bb.pv 40 email accounts
          li.bb.pv 50 Database
          li.pv 7x24 support
          li.pv
            p Suspendisse ullamcorper eros eget augue ultrices feugiat. 
            a.btn.btn-purple.btn-large(href='') Choose Plan
  .col-lg-4.col-md-4.col-sm-12
    .panel.panel-default.text-center
      .panel-body
        .p.bb-info.mb
          .text-md PREMIUM
        .text-md $50
        em.text-muted per month
        ul.list-unstyled
          li.bb.pv 500GB Storage
          li.bb.pv Unlimited Bandwidth
          li.bb.pv 50 domains
          li.bb.pv 50 email accounts
          li.bb.pv 100 Database
          li.pv 7x24 support
          li.pv
            p Duis in arcu eget purus egestas posuere. 
            a.btn.btn-primary(href='') Choose Plan

.row.row-flush
  .col-lg-4.col-md-4.col-sm-6
    .panel.panel-default.text-center
      .panel-body
        .text-lg Plan A
        .p.bg-info.wd-md.center-block
          .text-md $12
            span.text-sm /month
        br
        ul.list-unstyled.wd-md.center-block
          li.bb.pv 10GB Storage
          li.bb.pv 100GB Bandwidth
          li.bb.pv 10 domains
          li.bb.pv 20 email accounts
          li.bb.pv 5 Database
          li.pv No support
          li.pv
            p Praesent in libero at neque gravida venenatis auctor nec arcu. 
            a.btn.btn-primary(href='') Choose Plan 
              em.fa.fa-angle-double-right.fa-fw
  .col-lg-4.col-md-4.col-sm-6
    .panel.panel-default.text-center
      .panel-body
        .text-lg Plan B
        .p.bg-pink.wd-md.center-block
          .text-md $22
            span.text-sm /month
        br
        ul.list-unstyled.wd-md.center-block
          li
          li.bb.pv 100GB Storage
          li.bb.pv 500GB Bandwidth
          li.bb.pv 30 domains
          li.bb.pv 40 email accounts
          li.bb.pv 50 Database
          li.pv 7x24 support
          li.pv
            p Suspendisse ullamcorper eros eget augue ultrices feugiat. 
            a.btn.btn-pink.btn-large(href='') Choose Plan  
              em.fa.fa-angle-double-right.fa-fw
  .col-lg-4.col-md-4.col-sm-12
    .panel.panel-default.text-center
      .panel-body
        .text-lg Plan C
        .p.bg-info.wd-md.center-block
          .text-md $50
            span.text-sm /month
        br
        ul.list-unstyled.wd-md.center-block
          li.bb.pv 500GB Storage
          li.bb.pv Unlimited Bandwidth
          li.bb.pv 50 domains
          li.bb.pv 50 email accounts
          li.bb.pv 100 Database
          li.pv 7x24 support
          li.pv
            p Duis in arcu eget purus egestas posuere. 
            a.btn.btn-primary(href='') Choose Plan  
             em.fa.fa-angle-double-right.fa-fw
