.app-view-header Projects
  button.pull-right.btn.btn-primary(type="button") Action button

.row
  .col-lg-3.col-sm-6
    .panel.panel-amber
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-amber.pv-lg
            | Project A
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 2nd April 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='50', type='warning')
          li.wd-xxs.text-right 50%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +7
  .col-lg-3.col-sm-6
    .panel.panel-info
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-info.pv-lg
            | Project B
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 1st March 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='35', type='purple')
          li.wd-xxs.text-right 35%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +7
  .col-lg-3.col-sm-6
    .panel.panel-purple
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-purple.pv-lg
            | Project C
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 1st March 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='35', type='purple')
          li.wd-xxs.text-right 35%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +15
  .col-lg-3.col-sm-6
    .panel.panel-success
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-success.pv-lg
            | Project Z
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 2nd April 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='35', type='success')
          li.wd-xxs.text-right 35%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +7
  .col-lg-3.col-sm-6
    .panel.panel-amber
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-amber.pv-lg
            | Project YYZ
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 1st March 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='35', type='purple')
          li.wd-xxs.text-right 35%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +7
  .col-lg-3.col-sm-6
    .panel.panel-danger
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-danger.pv-lg
            | Project X
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 2nd April 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='50', type='pink')
          li.wd-xxs.text-right 50%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +15
  .col-lg-3.col-sm-6
    .panel.panel-amber
      .panel-heading
        .clearfix
          .pull-left
            em.icon-menu
          .pull-right
            em.icon-download
        .panel-title
          .text-center.bg-amber.pv-lg
            | Project W
            br
            small.text-muted Morbi neque ligula, semper.
      .panel-body
        ul.list-table.pv
          li.wd-xxs
            em.text-muted.fa.fa-calendar
          li Start date
            .text-muted 1st March 2015
        ul.list-table.bb.pv
          li
            uib-progressbar.m0.progress-xs(value='90', type='success')
          li.wd-xxs.text-right 90%
        ul.list-table.pv
          li
            ul.list-inline
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/02.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/01.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/03.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a(href='')
                  img.img-responsive.img-circle.thumb24(src='app/img/user/04.jpg', alt='Follower')
              li
                a.text-pink(href='').v-middle
                  strong +120
  .col-lg-3.col-sm-6
    .box-placeholder.text-center(style="height: 240px")
      ul.list-table.fh
        li.fh.v-middle
          a(href="").text-muted.lead.m0 Start New project