.app-view-header Feather Icons
  small Single line font icons

h4.page-header.mt0 Feather icons 1.1 
  small by @colebemis 

.row.list-icon
  .col-md-3.col-sm-4
    p
      em.icon-eye
      | .icon-eye
  .col-md-3.col-sm-4
    p
      em.icon-paper-clip
      | .icon-paper-clip
  .col-md-3.col-sm-4
    p
      em.icon-mail
      | .icon-mail
  .col-md-3.col-sm-4
    p
      em.icon-toggle
      | .icon-toggle
  .col-md-3.col-sm-4
    p
      em.icon-layout
      | .icon-layout
  .col-md-3.col-sm-4
    p
      em.icon-link
      | .icon-link
  .col-md-3.col-sm-4
    p
      em.icon-bell
      | .icon-bell
  .col-md-3.col-sm-4
    p
      em.icon-lock
      | .icon-lock
  .col-md-3.col-sm-4
    p
      em.icon-unlock
      | .icon-unlock
  .col-md-3.col-sm-4
    p
      em.icon-ribbon
      | .icon-ribbon
  .col-md-3.col-sm-4
    p
      em.icon-image
      | .icon-image
  .col-md-3.col-sm-4
    p
      em.icon-signal
      | .icon-signal
  .col-md-3.col-sm-4
    p
      em.icon-target
      | .icon-target
  .col-md-3.col-sm-4
    p
      em.icon-clipboard
      | .icon-clipboard
  .col-md-3.col-sm-4
    p
      em.icon-clock
      | .icon-clock
  .col-md-3.col-sm-4
    p
      em.icon-watch
      | .icon-watch
  .col-md-3.col-sm-4
    p
      em.icon-air-play
      | .icon-air-play
  .col-md-3.col-sm-4
    p
      em.icon-camera
      | .icon-camera
  .col-md-3.col-sm-4
    p
      em.icon-video
      | .icon-video
  .col-md-3.col-sm-4
    p
      em.icon-disc
      | .icon-disc
  .col-md-3.col-sm-4
    p
      em.icon-printer
      | .icon-printer
  .col-md-3.col-sm-4
    p
      em.icon-monitor
      | .icon-monitor
  .col-md-3.col-sm-4
    p
      em.icon-server
      | .icon-server
  .col-md-3.col-sm-4
    p
      em.icon-cog
      | .icon-cog
  .col-md-3.col-sm-4
    p
      em.icon-heart
      | .icon-heart
  .col-md-3.col-sm-4
    p
      em.icon-paragraph
      | .icon-paragraph
  .col-md-3.col-sm-4
    p
      em.icon-align-justify
      | .icon-align-justify
  .col-md-3.col-sm-4
    p
      em.icon-align-left
      | .icon-align-left
  .col-md-3.col-sm-4
    p
      em.icon-align-center
      | .icon-align-center
  .col-md-3.col-sm-4
    p
      em.icon-align-right
      | .icon-align-right
  .col-md-3.col-sm-4
    p
      em.icon-book
      | .icon-book
  .col-md-3.col-sm-4
    p
      em.icon-layers
      | .icon-layers
  .col-md-3.col-sm-4
    p
      em.icon-stack
      | .icon-stack
  .col-md-3.col-sm-4
    p
      em.icon-stack-2
      | .icon-stack-2
  .col-md-3.col-sm-4
    p
      em.icon-paper
      | .icon-paper
  .col-md-3.col-sm-4
    p
      em.icon-paper-stack
      | .icon-paper-stack
  .col-md-3.col-sm-4
    p
      em.icon-search
      | .icon-search
  .col-md-3.col-sm-4
    p
      em.icon-zoom-in
      | .icon-zoom-in
  .col-md-3.col-sm-4
    p
      em.icon-zoom-out
      | .icon-zoom-out
  .col-md-3.col-sm-4
    p
      em.icon-reply
      | .icon-reply
  .col-md-3.col-sm-4
    p
      em.icon-circle-plus
      | .icon-circle-plus
  .col-md-3.col-sm-4
    p
      em.icon-circle-minus
      | .icon-circle-minus
  .col-md-3.col-sm-4
    p
      em.icon-circle-check
      | .icon-circle-check
  .col-md-3.col-sm-4
    p
      em.icon-circle-cross
      | .icon-circle-cross
  .col-md-3.col-sm-4
    p
      em.icon-square-plus
      | .icon-square-plus
  .col-md-3.col-sm-4
    p
      em.icon-square-minus
      | .icon-square-minus
  .col-md-3.col-sm-4
    p
      em.icon-square-check
      | .icon-square-check
  .col-md-3.col-sm-4
    p
      em.icon-square-cross
      | .icon-square-cross
  .col-md-3.col-sm-4
    p
      em.icon-microphone
      | .icon-microphone
  .col-md-3.col-sm-4
    p
      em.icon-record
      | .icon-record
  .col-md-3.col-sm-4
    p
      em.icon-skip-back
      | .icon-skip-back
  .col-md-3.col-sm-4
    p
      em.icon-rewind
      | .icon-rewind
  .col-md-3.col-sm-4
    p
      em.icon-play
      | .icon-play
  .col-md-3.col-sm-4
    p
      em.icon-pause
      | .icon-pause
  .col-md-3.col-sm-4
    p
      em.icon-stop
      | .icon-stop
  .col-md-3.col-sm-4
    p
      em.icon-fast-forward
      | .icon-fast-forward
  .col-md-3.col-sm-4
    p
      em.icon-skip-forward
      | .icon-skip-forward
  .col-md-3.col-sm-4
    p
      em.icon-shuffle
      | .icon-shuffle
  .col-md-3.col-sm-4
    p
      em.icon-repeat
      | .icon-repeat
  .col-md-3.col-sm-4
    p
      em.icon-folder
      | .icon-folder
  .col-md-3.col-sm-4
    p
      em.icon-umbrella
      | .icon-umbrella
  .col-md-3.col-sm-4
    p
      em.icon-moon
      | .icon-moon
  .col-md-3.col-sm-4
    p
      em.icon-thermometer
      | .icon-thermometer
  .col-md-3.col-sm-4
    p
      em.icon-drop
      | .icon-drop
  .col-md-3.col-sm-4
    p
      em.icon-sun
      | .icon-sun
  .col-md-3.col-sm-4
    p
      em.icon-cloud
      | .icon-cloud
  .col-md-3.col-sm-4
    p
      em.icon-cloud-upload
      | .icon-cloud-upload
  .col-md-3.col-sm-4
    p
      em.icon-cloud-download
      | .icon-cloud-download
  .col-md-3.col-sm-4
    p
      em.icon-upload
      | .icon-upload
  .col-md-3.col-sm-4
    p
      em.icon-download
      | .icon-download
  .col-md-3.col-sm-4
    p
      em.icon-location
      | .icon-location
  .col-md-3.col-sm-4
    p
      em.icon-location-2
      | .icon-location-2
  .col-md-3.col-sm-4
    p
      em.icon-map
      | .icon-map
  .col-md-3.col-sm-4
    p
      em.icon-battery
      | .icon-battery
  .col-md-3.col-sm-4
    p
      em.icon-head
      | .icon-head
  .col-md-3.col-sm-4
    p
      em.icon-briefcase
      | .icon-briefcase
  .col-md-3.col-sm-4
    p
      em.icon-speech-bubble
      | .icon-speech-bubble
  .col-md-3.col-sm-4
    p
      em.icon-anchor
      | .icon-anchor
  .col-md-3.col-sm-4
    p
      em.icon-globe
      | .icon-globe
  .col-md-3.col-sm-4
    p
      em.icon-box
      | .icon-box
  .col-md-3.col-sm-4
    p
      em.icon-reload
      | .icon-reload
  .col-md-3.col-sm-4
    p
      em.icon-share
      | .icon-share
  .col-md-3.col-sm-4
    p
      em.icon-marquee
      | .icon-marquee
  .col-md-3.col-sm-4
    p
      em.icon-marquee-plus
      | .icon-marquee-plus
  .col-md-3.col-sm-4
    p
      em.icon-marquee-minus
      | .icon-marquee-minus
  .col-md-3.col-sm-4
    p
      em.icon-tag
      | .icon-tag
  .col-md-3.col-sm-4
    p
      em.icon-power
      | .icon-power
  .col-md-3.col-sm-4
    p
      em.icon-command
      | .icon-command
  .col-md-3.col-sm-4
    p
      em.icon-alt
      | .icon-alt
  .col-md-3.col-sm-4
    p
      em.icon-esc
      | .icon-esc
  .col-md-3.col-sm-4
    p
      em.icon-bar-graph
      | .icon-bar-graph
  .col-md-3.col-sm-4
    p
      em.icon-bar-graph-2
      | .icon-bar-graph-2
  .col-md-3.col-sm-4
    p
      em.icon-pie-graph
      | .icon-pie-graph
  .col-md-3.col-sm-4
    p
      em.icon-star
      | .icon-star
  .col-md-3.col-sm-4
    p
      em.icon-arrow-left
      | .icon-arrow-left
  .col-md-3.col-sm-4
    p
      em.icon-arrow-right
      | .icon-arrow-right
  .col-md-3.col-sm-4
    p
      em.icon-arrow-up
      | .icon-arrow-up
  .col-md-3.col-sm-4
    p
      em.icon-arrow-down
      | .icon-arrow-down
  .col-md-3.col-sm-4
    p
      em.icon-volume
      | .icon-volume
  .col-md-3.col-sm-4
    p
      em.icon-mute
      | .icon-mute
  .col-md-3.col-sm-4
    p
      em.icon-content-right
      | .icon-content-right
  .col-md-3.col-sm-4
    p
      em.icon-content-left
      | .icon-content-left
  .col-md-3.col-sm-4
    p
      em.icon-grid
      | .icon-grid
  .col-md-3.col-sm-4
    p
      em.icon-grid-2
      | .icon-grid-2
  .col-md-3.col-sm-4
    p
      em.icon-columns
      | .icon-columns
  .col-md-3.col-sm-4
    p
      em.icon-loader
      | .icon-loader
  .col-md-3.col-sm-4
    p
      em.icon-bag
      | .icon-bag
  .col-md-3.col-sm-4
    p
      em.icon-ban
      | .icon-ban
  .col-md-3.col-sm-4
    p
      em.icon-flag
      | .icon-flag
  .col-md-3.col-sm-4
    p
      em.icon-trash
      | .icon-trash
  .col-md-3.col-sm-4
    p
      em.icon-expand
      | .icon-expand
  .col-md-3.col-sm-4
    p
      em.icon-contract
      | .icon-contract
  .col-md-3.col-sm-4
    p
      em.icon-maximize
      | .icon-maximize
  .col-md-3.col-sm-4
    p
      em.icon-minimize
      | .icon-minimize
  .col-md-3.col-sm-4
    p
      em.icon-plus
      | .icon-plus
  .col-md-3.col-sm-4
    p
      em.icon-minus
      | .icon-minus
  .col-md-3.col-sm-4
    p
      em.icon-check
      | .icon-check
  .col-md-3.col-sm-4
    p
      em.icon-cross
      | .icon-cross
  .col-md-3.col-sm-4
    p
      em.icon-move
      | .icon-move
  .col-md-3.col-sm-4
    p
      em.icon-delete
      | .icon-delete
  .col-md-3.col-sm-4
    p
      em.icon-menu
      | .icon-menu
  .col-md-3.col-sm-4
    p
      em.icon-archive
      | .icon-archive
  .col-md-3.col-sm-4
    p
      em.icon-inbox
      | .icon-inbox
  .col-md-3.col-sm-4
    p
      em.icon-outbox
      | .icon-outbox
  .col-md-3.col-sm-4
    p
      em.icon-file
      | .icon-file
  .col-md-3.col-sm-4
    p
      em.icon-file-add
      | .icon-file-add
  .col-md-3.col-sm-4
    p
      em.icon-file-subtract
      | .icon-file-subtract
  .col-md-3.col-sm-4
    p
      em.icon-help
      | .icon-help
  .col-md-3.col-sm-4
    p
      em.icon-open
      | .icon-open
  .col-md-3.col-sm-4
    p
      em.icon-ellipsis
      | .icon-ellipsis
