.app-view-header Angular Datatables

.row
  .col-md-3
    h4 Zero configuration
    p The angular-datatables provides a datatables directive you can add to your &lt;table&ht;:
  .col-md-9
    table.row-border.hover(datatable='')
      thead
        tr
          th ID
          th First name
          th Last name
      tbody
        tr
          td 1
          td Foo
          td Bar
        tr
          td 123
          td Someone
          td Youknow
        tr
          td 987
          td Iamout
          td Ofinspiration

br
br

.row
  .col-md-3
    h4 The Angular Way
    p You can construct your table the "angular" way, eg using the directive ng-repeat on tr tag. All you need to do is to add the directive datatable with the value ng on your table in order to make it rendered with DataTables.
  .col-md-9
    div(ng-controller='DataTablesController as dt')
      table.row-border.hover(datatable='ng')
        thead
          tr
            th ID
            th FirstName
            th LastName
        tbody
          tr(ng-repeat='person in dt.persons')
            td {{ person.id }}
            td {{ person.firstName }}
            td {{ person.lastName }}

