.app-view-header Grid Masonry
  small CSS colmuns layout with fallback to inline grid.

.row-masonry.row-masonry-xl-6.row-masonry-lg-4.row-masonry-md-3.row-masonry-sm-2
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg1.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg2.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg3.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg2.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg1.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg3.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Aenean scelerisque suscipit arcu a consectetur. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg2.jpg",alt="")
  .col-masonry
    .box-placeholder.m0
      p.text-center.text-muted: strong Grid item
      p Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos. 
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg1.jpg",alt="")
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg3.jpg",alt="")
  .col-masonry
    img.img-thumbnail.img-responsive(src="app/img/bg2.jpg",alt="")
