<div class="app-view-header">Search</div>
<form>
   <div class="form-group mb-xl shadow-z1">
      <div class="input-group">
         <input type="text" placeholder="Search something.." class="form-control" />
         <span class="input-group-btn">
            <button type="button" class="btn btn-default">Search!</button>
         </span>
      </div>
   </div>
</form>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-heading">
      <button class="pull-right btn btn-xs btn-default">Clear</button>500 results found for:
      <span class="text-success">"Bootstrap + AngularJS"</span>
      <paneltool tool-refresh="traditional"></paneltool>
   </div>
   <!-- START table-responsive-->
   <div class="table-responsive">
      <table class="table">
         <tbody>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">item label 1 </a><a href="" class="mr label label-primary">tag2</a>
                        <a
                        href="" class="mr label label-primary">some category</a>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">item label 1 </a><a href="" class="mr label label-primary">some category</a>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Etiam feugiat risus massa. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">item label 1 </a><a href="" class="mr label label-primary">some category</a>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">item label 1 </a><a href="" class="mr label label-primary">tag2</a>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Nullam ultricies, urna ac aliquet fringilla, eros velit vehicula elit, at faucibus velit erat eu ante. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">tag2</a><a href="" class="mr label label-primary">some category</a>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="media">
                     <a href="" class="pull-left">
                        <img src="app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64" />
                     </a>
                     <div class="media-body">
                        <h4 class="media-heading"> <a href="" class="text-inverse">Curabitur pulvinar tristique bibendum. </a>
                        </h4>
                        <p class="text-muted">Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.</p><a href="" class="mr label label-primary">tag2</a><a href="" class="mr label label-primary">some category</a>
                     </div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- END table-responsive-->
   <div class="panel-footer">
      <ul class="pagination pagination-sm">
         <li class="active"><a href="">1</a>
         </li>
         <li><a href="">2</a>
         </li>
         <li><a href="">3</a>
         </li>
         <li><a href="">4</a>
         </li>
         <li><a href="">»</a>
         </li>
      </ul>
   </div>
</div>
<!-- END panel-->