<div class="app-view-header">Projects
   <button type="button" class="pull-right btn btn-primary">Action button</button>
</div>
<div class="row">
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-amber">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-amber pv-lg">Project A
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">2nd April 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="50" type="warning" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">50%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+7</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-info">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-info pv-lg">Project B
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">1st March 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="35" type="purple" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">35%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+7</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-purple">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-purple pv-lg">Project C
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">1st March 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="35" type="purple" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">35%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+15</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-success">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-success pv-lg">Project Z
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">2nd April 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="35" type="success" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">35%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+7</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-amber">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-amber pv-lg">Project YYZ
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">1st March 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="35" type="purple" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">35%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+7</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-danger">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-danger pv-lg">Project X
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">2nd April 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="50" type="pink" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">50%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+15</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div class="panel panel-amber">
         <div class="panel-heading">
            <div class="clearfix">
               <div class="pull-left">
                  <em class="icon-menu"></em>
               </div>
               <div class="pull-right">
                  <em class="icon-download"></em>
               </div>
            </div>
            <div class="panel-title">
               <div class="text-center bg-amber pv-lg">Project W
                  <br/>
                  <small class="text-muted">Morbi neque ligula, semper.</small>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <ul class="list-table pv">
               <li class="wd-xxs">
                  <em class="text-muted fa fa-calendar"></em>
               </li>
               <li>Start date
                  <div class="text-muted">1st March 2015</div>
               </li>
            </ul>
            <ul class="list-table bb pv">
               <li>
                  <uib-progressbar value="90" type="success" class="m0 progress-xs"></uib-progressbar>
               </li>
               <li class="wd-xxs text-right">90%</li>
            </ul>
            <ul class="list-table pv">
               <li>
                  <ul class="list-inline">
                     <li>
                        <a href="">
                           <img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="">
                           <img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
                        </a>
                     </li>
                     <li>
                        <a href="" class="text-pink v-middle">
                           <strong>+120</strong>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <div style="height: 240px" class="box-placeholder text-center">
         <ul class="list-table fh">
            <li class="fh v-middle"><a href="" class="text-muted lead m0">Start New project</a>
            </li>
         </ul>
      </div>
   </div>
</div>