<div class="app-view-header">Timeline</div>
<section class="tl-timeline-container">
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-picture">
         <em class="fa fa-camera"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Timeline block 1</h2>
         <p>Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Vestibulum pretium mollis ligula, at ultrices quam egestas et. Mauris a velit id neque dignissim congue.</p><a href="#0" class="btn btn-default tl-read-more">Read more</a>
         <span
         class="tl-date">Jan 14</span>
      </div>
   </div>
   <!-- timeline block-->
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-movie">
         <em class="fa fa-play"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Timeline block 2</h2>
         <p>Sed egestas, augue vitae blandit imperdiet, justo neque tincidunt sapien, in egestas libero orci id mauris. In sit amet accumsan arcu. Pellentesque vulputate diam elit.</p><a href="#0" class="btn btn-default tl-read-more">Read more</a>
         <span class="tl-date">Jan 18</span>
      </div>
   </div>
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-picture">
         <em class="fa fa-camera"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Timeline block 3</h2>
         <p>Pellentesque tincidunt tempus semper. Donec congue sagittis mi sit amet tincidunt. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit. Suspendisse risus nisl, iaculis at rhoncus sed, ultrices sed lacus. Aenean mollis augue
            vitae urna congue consequat.</p><a href="#0" class="btn btn-default tl-read-more">Read more</a>
         <span class="tl-date">Jan 24</span>
      </div>
   </div>
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-location">
         <em class="fa fa-map-marker"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Timeline block 4</h2>
         <p>Pellentesque ac ligula varius nisl laoreet pretium quis quis tellus. Vestibulum pretium mollis ligula, at ultrices quam egestas et. Mauris a velit id neque dignissim congue.</p><a href="#0" class="btn btn-default tl-read-more">Read more</a>
         <span
         class="tl-date">Feb 14</span>
      </div>
   </div>
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-location">
         <em class="fa fa-map-marker"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Timeline block 5</h2>
         <p>Pellentesque in elit lectus, nec varius tellus. Morbi a odio eros, in rutrum erat.</p><a href="#0" class="btn btn-default tl-read-more">Read more</a>
         <span class="tl-date">Feb 18</span>
      </div>
   </div>
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon tl-movie">
         <em class="fa fa-play"></em>
      </div>
      <div class="tl-timeline-content">
         <h2>Last Block</h2>
         <p>Sed accumsan adipiscing enim. Donec ac massa tortor.</p>
         <span class="tl-date">Feb 26</span>
      </div>
   </div>
   <!-- timeline block-->
   <!-- timeline block-->
   <div class="tl-timeline-block">
      <div class="tl-timeline-icon">
         <em class="fa fa-star"></em>
      </div>
   </div>
   <!-- timeline block-->
</section>
<!-- cd-timeline-->