<div class="app-view-header text-center">Thumbnail Gallery + Touch Lightbox</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg2.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg2.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg1.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg1.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg2.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg2.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg3.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg3.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg2.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg2.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg1.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg1.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg1.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg1.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg2.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg2.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg3.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg3.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
         <a href="app/img/bg2.jpg" data-gallery="" title="Unsplash images">
            <img src="app/img/bg2.jpg" alt="thumb" />
         </a>
         <div class="caption">
            <h3>Picture Name</h3>
            <p>Updated
               <span class="text-muted">27 feb at 10:00 am</span>
            </p>
         </div>
      </div>
   </div>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body-->
<div id="blueimp-gallery" class="blueimp-gallery">
   <div class="slides">
      <h3 class="title"></h3><a class="prev">&lsaquo;</a><a class="next">&rsaquo;</a><a class="close">&times;</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
   </div>
</div>