<div class="app-view-header">Form Inputs
   <small>Classic and new components</small>
</div>
<!-- START panel-->
<div ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <h4 class="panel-heading">Classic inputs</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Text</label>
                  <div class="col-sm-10">
                     <input id="input-id-1" type="text" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Shadow</label>
                  <div class="col-sm-10">
                     <input id="input-id-1" type="text" class="form-control shadow-z1" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                     <input type="password" name="password" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Rounded Corners</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control form-control-rounded" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">With help</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" />
                     <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Placeholder</label>
                  <div class="col-sm-10">
                     <input type="text" placeholder="placeholder" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Disabled</label>
                  <div class="col-sm-10">
                     <input type="text" placeholder="Disabled input here..." disabled="" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Static control</label>
                  <div class="col-sm-10">
                     <p class="form-control-static">email@demo.com</p>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Checkboxes and radios</label>
                  <div class="col-sm-10">
                     <div class="checkbox">
                        <label>
                           <input type="checkbox" value="" />Option one is this and that—be sure to include why it's great</label>
                     </div>
                     <div class="radio">
                        <label>
                           <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="" />Option one is this and that—be sure to include why it's great</label>
                     </div>
                     <div class="radio">
                        <label>
                           <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" />Option two can be something else and selecting it will deselect option one</label>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Inline checkboxes</label>
                  <div class="col-sm-10">
                     <label class="checkbox checkbox-inline">
                        <input id="inlineCheckbox1" type="checkbox" value="option1" />a</label>
                     <label class="checkbox-inline">
                        <input id="inlineCheckbox2" type="checkbox" value="option2" />b</label>
                     <label class="checkbox-inline">
                        <input id="inlineCheckbox3" type="checkbox" value="option3" />c</label>
                  </div>
               </div>
            </fieldset>
            <fieldset class="last-child">
               <div class="form-group">
                  <label class="col-sm-2 control-label">Select</label>
                  <div class="col-sm-10">
                     <select name="account" class="form-control m-b">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                     </select>
                     <br/>
                     <div class="row">
                        <div class="col-lg-4">
                           <select multiple="" class="form-control">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Variants</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Custom Checkboxes &amp; radios</label>
                  <div class="col-sm-10">
                     <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                           <input type="checkbox" value="" class="needsclick" />
                           <span class="fa fa-check"></span>Option one</label>
                     </div>
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" checked="" value="" />
                           <span class="fa fa-check"></span>Option two checked</label>
                     </div>
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" checked="" disabled="" value="" />
                           <span class="fa fa-check"></span>Option three checked and disabled</label>
                     </div>
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" disabled="" value="" />
                           <span class="fa fa-check"></span>Option four disabled</label>
                     </div>
                     <div class="radio c-radio">
                        <label>
                           <input type="radio" name="a" value="option1" />
                           <span class="fa fa-circle"></span>Option one</label>
                     </div>
                     <div class="radio c-radio">
                        <label>
                           <input type="radio" name="a" value="option2" checked="" />
                           <span class="fa fa-circle"></span>Option two checked</label>
                     </div>
                     <div class="radio c-radio">
                        <label>
                           <input type="radio" value="option2" checked="" disabled="" />
                           <span class="fa fa-circle"></span>Option three checked and disabled</label>
                     </div>
                     <div class="radio c-radio">
                        <label>
                           <input type="radio" name="a" disabled="" />
                           <span class="fa fa-circle"></span>Option four disabled</label>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Inline checkboxes</label>
                  <div class="col-sm-10">
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlineCheckbox10" type="checkbox" value="option1" />
                           <span class="fa fa-check"></span>a</label>
                     </div>
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlineCheckbox20" type="checkbox" value="option2" />
                           <span class="fa fa-check"></span>b</label>
                     </div>
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlineCheckbox30" type="checkbox" value="option3" />
                           <span class="fa fa-check"></span>c</label>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Circular</label>
                  <div class="col-sm-10">
                     <div class="checkbox c-checkbox c-checkbox-rounded">
                        <label>
                           <input id="roundedcheckbox10" type="checkbox" checked="checked" />
                           <span class="fa fa-check"></span>Lorem</label>
                     </div>
                     <div class="checkbox c-checkbox c-checkbox-rounded">
                        <label>
                           <input id="roundedcheckbox20" type="checkbox" />
                           <span class="fa fa-check"></span>Ipsum</label>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Inline radios</label>
                  <div class="col-sm-10">
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked" />
                           <span class="fa fa-circle"></span>a</label>
                     </div>
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio2" type="radio" name="i-radio" value="option2" />
                           <span class="fa fa-circle"></span>b</label>
                     </div>
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio3" type="radio" name="i-radio" value="option3" />
                           <span class="fa fa-circle"></span>c</label>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Custom icons</label>
                  <div class="col-sm-10">
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked="checked" />
                           <span class="fa fa-check"></span>a</label>
                     </div>
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio20" type="radio" name="i-radio" value="option2" checked="checked" />
                           <span class="fa fa-tint"></span>b</label>
                     </div>
                     <div class="radio-inline c-radio">
                        <label>
                           <input id="inlineradio30" type="radio" name="i-radio" value="option3" checked="checked" />
                           <span class="fa fa-user"></span>c</label>
                     </div>
                     <br/>
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlinecheckbox10" type="checkbox" value="option1" checked="checked" />
                           <span class="fa fa-paperclip"></span>a</label>
                     </div>
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlinecheckbox20" type="checkbox" value="option2" checked="checked" />
                           <span class="fa fa-star"></span>b</label>
                     </div>
                     <div class="checkbox-inline c-checkbox">
                        <label>
                           <input id="inlinecheckbox30" type="checkbox" value="option3" checked="checked" />
                           <span class="fa fa-phone"></span>c</label>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Switch Small</label>
                  <div class="col-sm-10">
                     <label class="switch switch-sm">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Switch</label>
                  <div class="col-sm-10">
                     <label class="switch">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Switch Large</label>
                  <div class="col-sm-10">
                     <label class="switch switch-lg">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Switch Radio</label>
                  <div class="col-sm-10">
                     <label class="switch">
                        <input type="radio" checked="checked" name="radioSwitch" />
                        <span></span>
                     </label>
                     <label class="switch">
                        <input type="radio" name="radioSwitch" />
                        <span></span>
                     </label>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Colors</label>
                  <div class="col-sm-2">
                     <label class="switch switch-info">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-danger">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-success">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-warning">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-inverse">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-amber">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-pink">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-purple">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                     <label class="switch switch-orange">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group has-success">
                  <label class="col-sm-2 control-label">Input with success</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group has-warning">
                  <label class="col-sm-2 control-label">Input with warning</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group has-error">
                  <label class="col-sm-2 control-label">Input with error</label>
                  <div class="col-sm-10">
                     <input type="text" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Control sizing</label>
                  <div class="col-sm-10">
                     <input type="text" placeholder=".input-lg" class="form-control input-lg m-b" />
                     <br/>
                     <input type="text" placeholder="Default input" class="form-control m-b" />
                     <br/>
                     <input type="text" placeholder=".input-sm" class="form-control input-sm" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Column sizing</label>
                  <div class="col-sm-10">
                     <div class="row">
                        <div class="col-md-2">
                           <input type="text" placeholder=".col-md-2" class="form-control" />
                        </div>
                        <div class="col-md-3">
                           <input type="text" placeholder=".col-md-3" class="form-control" />
                        </div>
                        <div class="col-md-4">
                           <input type="text" placeholder=".col-md-4" class="form-control" />
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Input groups</label>
                  <div class="col-sm-10">
                     <div class="input-group m-b">
                        <span class="input-group-addon">@</span>
                        <input type="text" placeholder="Username" class="form-control" />
                     </div>
                     <br/>
                     <div class="input-group m-b">
                        <input type="text" class="form-control" />
                        <span class="input-group-addon">.00</span>
                     </div>
                     <br/>
                     <div class="input-group m-b">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" />
                        <span class="input-group-addon">.00</span>
                     </div>
                     <br/>
                     <div class="input-group m-b">
                        <span class="input-group-addon">
                           <input type="checkbox" />
                        </span>
                        <input type="text" class="form-control" />
                     </div>
                     <br/>
                     <div class="input-group">
                        <span class="input-group-addon">
                           <input type="radio" />
                        </span>
                        <input type="text" class="form-control" />
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Button addons</label>
                  <div class="col-sm-10">
                     <div class="input-group m-b">
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default">Go!</button>
                        </span>
                        <input type="text" class="form-control" />
                     </div>
                     <br/>
                     <div class="input-group">
                        <input type="text" class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default">Go!</button>
                        </span>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">With dropdowns</label>
                  <div class="col-sm-10">
                     <div class="input-group m-b">
                        <div uib-dropdown="dropdown" class="input-group-btn">
                           <button type="button" uib-dropdown-toggle="" class="btn btn-default dropdown-toggle">Action
                              <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="">Action</a>
                              </li>
                              <li><a href="">Another action</a>
                              </li>
                              <li><a href="">Something else here</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="">Separated link</a>
                              </li>
                           </ul>
                        </div>
                        <input type="text" class="form-control" />
                     </div>
                     <br/>
                     <div class="input-group">
                        <input type="text" class="form-control" />
                        <div uib-dropdown="dropdown" class="input-group-btn">
                           <button type="button" uib-dropdown-toggle="" class="btn btn-default dropdown-toggle">Action
                              <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="">Action</a>
                              </li>
                              <li><a href="">Another action</a>
                              </li>
                              <li><a href="">Something else here</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="">Separated link</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset class="last-child">
               <div class="form-group">
                  <label class="col-sm-2 control-label">Segmented</label>
                  <div class="col-sm-10">
                     <div class="input-group m-b">
                        <div uib-dropdown="dropdown" class="input-group-btn">
                           <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                           <button type="button" uib-dropdown-toggle="" class="btn btn-default dropdown-toggle">
                              <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="">Action</a>
                              </li>
                              <li><a href="">Another action</a>
                              </li>
                              <li><a href="">Something else here</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="">Separated link</a>
                              </li>
                           </ul>
                        </div>
                        <input type="text" class="form-control" />
                     </div>
                     <br/>
                     <div class="input-group">
                        <input type="text" class="form-control" />
                        <div uib-dropdown="dropdown" class="input-group-btn">
                           <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                           <button type="button" uib-dropdown-toggle="" class="btn btn-default dropdown-toggle">
                              <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu pull-right">
                              <li><a href="">Action</a>
                              </li>
                              <li><a href="">Another action</a>
                              </li>
                              <li><a href="">Something else here</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="">Separated link</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Advanced inputs</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Summernote</label>
                  <div class="col-sm-10">
                     <!-- Wysiswyg editor-->
                     <summernote ng-model="form.htmlContent" height="280"></summernote>
                     <h6>Airmode
                        <small>To reveal toolbar, select a text where you want to shape up</small>
                     </h6>
                     <summernote airmode="" ng-model="form.htmlContent" class="well reader-block"></summernote>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Block Note Editor</label>
                  <div class="col-sm-10">
                     <div class="panel">
                        <div class="panel-body">
                           <textarea rows="10" class="form-control block-note"></textarea>
                        </div>
                     </div>
                     <p>With margin</p>
                     <div class="panel">
                        <div class="panel-body">
                           <textarea rows="10" class="form-control block-note block-note-margin"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Datepicker</label>
                  <div class="col-sm-10 col-lg-4">
                     <p class="input-group">
                        <input type="text" uib-datepicker-popup="{{format}}" ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" uib-datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                        class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" ng-click="form.open($event)" class="btn btn-default">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Timepicker</label>
                  <div class="col-sm-10">
                     <uib-timepicker ng-model="form.mytime" ng-change="form.changed()" show-meridian="form.ismeridian"></uib-timepicker>
                     <p>Time is: {{form.mytime | date:'shortTime' }}</p>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">UI Mask</label>
                  <div class="col-sm-10">
                     <input type="text" name="masked" ui-mask="(999) 999-9999" ng-model="aa" placeholder="(999) 999-9999" required="" class="form-control mb" />
                     <input type="text" name="masked" ui-mask="(999) 999-9999 ext. 999" ng-model="bb" placeholder="(999) 999-9999 ext. 999" required="" class="form-control mb" />
                     <input type="text" name="masked" ui-mask="**:AAA-999" ng-model="cc" placeholder="**:AAA-999" required="" class="form-control mb" />
                     <p class="m-b">
                        <code>A</code>Any letter.
                        <br/>
                        <code>9</code>Any number.
                        <br/>
                        <code>*</code>Any letter or number.</p>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
   <!-- END panel-->
</div>