<div class="app-view-header">Climacons
   <small>SVG animated weather icons</small>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="row">
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloud" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloud</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzle" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzle</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleMoonAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleMoonAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleMoonAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleMoonAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleSunAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleSunAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleSunAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleSunAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudDrizzleSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudDrizzleSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFog" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFog</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogMoonAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogMoonAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogMoonAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogMoonAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogSunAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogSunAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogSunAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogSunAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudFogSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudFogSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAltMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAltMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAltMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAltMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAltSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAltSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudHailAltSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudHailAltSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightning" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightning</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightningFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightningFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightningMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightningMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightningMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightningMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightningSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightningSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudLightningSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudLightningSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRain" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRain</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainMoonAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainMoonAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainMoonAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainMoonAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainSunAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainSunAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainSunAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainSunAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudRainSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudRainSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnow" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnow</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowMoon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowMoon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowMoonAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowMoonAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowMoonAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowMoonAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowMoonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowMoonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowSunAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowSunAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowSunAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowSunAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSnowSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSnowSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="cloudSunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>cloudSunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="moon" width="80" height="80" color="#333"></climacon>
            <p>
               <code>moon</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="moonFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>moonFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="moonPhase" width="80" height="80" color="#333"></climacon>
            <p>
               <code>moonPhase</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="moonPhaseFull" width="80" height="80" color="#333"></climacon>
            <p>
               <code>moonPhaseFull</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="snowflake" width="80" height="80" color="#333"></climacon>
            <p>
               <code>snowflake</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="snowflakeFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>snowflakeFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sun" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sun</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunrise" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunrise</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunriseAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunriseAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunriseAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunriseAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunriseFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunriseFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunset" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunset</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunsetAlt" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunsetAlt</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunsetAltFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunsetAltFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="sunsetFill" width="80" height="80" color="#333"></climacon>
            <p>
               <code>sunsetFill</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="thermometer0" width="80" height="80" color="#333"></climacon>
            <p>
               <code>thermometer0</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="thermometer100" width="80" height="80" color="#333"></climacon>
            <p>
               <code>thermometer100</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="thermometer25" width="80" height="80" color="#333"></climacon>
            <p>
               <code>thermometer25</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="thermometer50" width="80" height="80" color="#333"></climacon>
            <p>
               <code>thermometer50</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="thermometer75" width="80" height="80" color="#333"></climacon>
            <p>
               <code>thermometer75</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="tornado" width="80" height="80" color="#333"></climacon>
            <p>
               <code>tornado</code>
            </p>
         </div>
         <div class="col-sm-3 col-xs-6">
            <climacon name="wind" width="80" height="80" color="#333"></climacon>
            <p>
               <code>wind</code>
            </p>
         </div>
      </div>
   </div>
</div>