<div class="app-view-header">Feather Icons
   <small>Single line font icons</small>
</div>
<h4 class="page-header mt0">Feather icons 1.1
   <small>by @colebemis</small>
</h4>
<div class="row list-icon">
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-eye"></em>.icon-eye</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-paper-clip"></em>.icon-paper-clip</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-mail"></em>.icon-mail</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-toggle"></em>.icon-toggle</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-layout"></em>.icon-layout</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-link"></em>.icon-link</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-bell"></em>.icon-bell</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-lock"></em>.icon-lock</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-unlock"></em>.icon-unlock</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-ribbon"></em>.icon-ribbon</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-image"></em>.icon-image</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-signal"></em>.icon-signal</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-target"></em>.icon-target</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-clipboard"></em>.icon-clipboard</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-clock"></em>.icon-clock</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-watch"></em>.icon-watch</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-air-play"></em>.icon-air-play</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-camera"></em>.icon-camera</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-video"></em>.icon-video</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-disc"></em>.icon-disc</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-printer"></em>.icon-printer</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-monitor"></em>.icon-monitor</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-server"></em>.icon-server</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-cog"></em>.icon-cog</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-heart"></em>.icon-heart</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-paragraph"></em>.icon-paragraph</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-align-justify"></em>.icon-align-justify</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-align-left"></em>.icon-align-left</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-align-center"></em>.icon-align-center</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-align-right"></em>.icon-align-right</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-book"></em>.icon-book</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-layers"></em>.icon-layers</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-stack"></em>.icon-stack</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-stack-2"></em>.icon-stack-2</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-paper"></em>.icon-paper</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-paper-stack"></em>.icon-paper-stack</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-search"></em>.icon-search</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-zoom-in"></em>.icon-zoom-in</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-zoom-out"></em>.icon-zoom-out</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-reply"></em>.icon-reply</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-circle-plus"></em>.icon-circle-plus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-circle-minus"></em>.icon-circle-minus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-circle-check"></em>.icon-circle-check</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-circle-cross"></em>.icon-circle-cross</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-square-plus"></em>.icon-square-plus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-square-minus"></em>.icon-square-minus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-square-check"></em>.icon-square-check</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-square-cross"></em>.icon-square-cross</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-microphone"></em>.icon-microphone</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-record"></em>.icon-record</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-skip-back"></em>.icon-skip-back</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-rewind"></em>.icon-rewind</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-play"></em>.icon-play</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-pause"></em>.icon-pause</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-stop"></em>.icon-stop</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-fast-forward"></em>.icon-fast-forward</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-skip-forward"></em>.icon-skip-forward</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-shuffle"></em>.icon-shuffle</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-repeat"></em>.icon-repeat</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-folder"></em>.icon-folder</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-umbrella"></em>.icon-umbrella</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-moon"></em>.icon-moon</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-thermometer"></em>.icon-thermometer</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-drop"></em>.icon-drop</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-sun"></em>.icon-sun</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-cloud"></em>.icon-cloud</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-cloud-upload"></em>.icon-cloud-upload</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-cloud-download"></em>.icon-cloud-download</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-upload"></em>.icon-upload</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-download"></em>.icon-download</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-location"></em>.icon-location</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-location-2"></em>.icon-location-2</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-map"></em>.icon-map</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-battery"></em>.icon-battery</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-head"></em>.icon-head</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-briefcase"></em>.icon-briefcase</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-speech-bubble"></em>.icon-speech-bubble</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-anchor"></em>.icon-anchor</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-globe"></em>.icon-globe</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-box"></em>.icon-box</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-reload"></em>.icon-reload</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-share"></em>.icon-share</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-marquee"></em>.icon-marquee</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-marquee-plus"></em>.icon-marquee-plus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-marquee-minus"></em>.icon-marquee-minus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-tag"></em>.icon-tag</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-power"></em>.icon-power</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-command"></em>.icon-command</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-alt"></em>.icon-alt</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-esc"></em>.icon-esc</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-bar-graph"></em>.icon-bar-graph</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-bar-graph-2"></em>.icon-bar-graph-2</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-pie-graph"></em>.icon-pie-graph</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-star"></em>.icon-star</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-arrow-left"></em>.icon-arrow-left</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-arrow-right"></em>.icon-arrow-right</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-arrow-up"></em>.icon-arrow-up</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-arrow-down"></em>.icon-arrow-down</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-volume"></em>.icon-volume</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-mute"></em>.icon-mute</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-content-right"></em>.icon-content-right</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-content-left"></em>.icon-content-left</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-grid"></em>.icon-grid</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-grid-2"></em>.icon-grid-2</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-columns"></em>.icon-columns</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-loader"></em>.icon-loader</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-bag"></em>.icon-bag</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-ban"></em>.icon-ban</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-flag"></em>.icon-flag</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-trash"></em>.icon-trash</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-expand"></em>.icon-expand</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-contract"></em>.icon-contract</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-maximize"></em>.icon-maximize</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-minimize"></em>.icon-minimize</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-plus"></em>.icon-plus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-minus"></em>.icon-minus</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-check"></em>.icon-check</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-cross"></em>.icon-cross</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-move"></em>.icon-move</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-delete"></em>.icon-delete</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-menu"></em>.icon-menu</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-archive"></em>.icon-archive</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-inbox"></em>.icon-inbox</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-outbox"></em>.icon-outbox</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-file"></em>.icon-file</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-file-add"></em>.icon-file-add</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-file-subtract"></em>.icon-file-subtract</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-help"></em>.icon-help</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-open"></em>.icon-open</p>
   </div>
   <div class="col-md-3 col-sm-4">
      <p>
         <em class="icon-ellipsis"></em>.icon-ellipsis</p>
   </div>
</div>