<div class="container container-sm animated fadeInDown">
   <div class="center-block mt-xl">
      <!-- START panel-->
      <img src="app/img/logo-gray.png" alt="Image" class="center-block img-rounded" />
      <div class="panel">
         <div class="panel-body">
            <p class="pv text-bold">REGISTER NEW ACCOUNT</p>
            <form role="form" class="mb-lg">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group has-feedback">
                        <input id="signupInputEmail1" type="email" placeholder="Your email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                     <div class="form-group has-feedback">
                        <input id="signupInputPassword1" type="password" placeholder="Your password" autocomplete="off" class="form-control" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                     </div>
                     <div class="form-group has-feedback">
                        <input id="signupInputRePassword1" type="password" placeholder="Type again your password" autocomplete="off" class="form-control" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                     </div>
                     <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                           <label>
                              <input type="checkbox" value="" />
                              <span class="fa fa-check"></span>I agree with the <a href="">terms</a>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <button type="submit" class="btn btn-block btn-primary">Create account</button>
                     <br/>
                     <p class="pt-lg text-center mt-sm">Already register?</p>
                     <a ui-sref="page.login" class="btn btn-block btn-default">
                        <strong>Login</strong>
                     </a>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- END panel-->
      <div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>
   </div>
</div>