<div class="app-view-header">Grid Masonry
   <small>CSS colmuns layout with fallback to inline grid.</small>
</div>
<div class="row-masonry row-masonry-xl-6 row-masonry-lg-4 row-masonry-md-3 row-masonry-sm-2">
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg1.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.</p>
      </div>
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg3.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg1.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg3.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Aenean scelerisque suscipit arcu a consectetur.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <div class="box-placeholder m0">
         <p class="text-center text-muted">
            <strong>Grid item</strong>
         </p>
         <p>Integer tincidunt nisi id libero tristique aliquet. Pellentesque a commodo est. Proin ut mi augue, non laoreet ligula. Vestibulum ante ipsum primis in faucibus orci et ultrices posuere cubilia Curae; Class taciti conubia nostra, per himenaeos.</p>
      </div>
   </div>
   <div class="col-masonry">
      <img src="app/img/bg1.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <img src="app/img/bg3.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
   <div class="col-masonry">
      <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
   </div>
</div>