<div class="app-view-header">Palette
   <small>Color swatches</small>
</div>
<div class="panel panel-default">
   <div class="panel-body">
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-primary bg-light">
               <h4>.bg-primary bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-primary">
               <h4>.bg-primary</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-primary bg-dark">
               <h4>.bg-primary bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-success bg-light">
               <h4>.bg-success bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-success">
               <h4>.bg-success</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-success bg-dark">
               <h4>.bg-success bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-info bg-light">
               <h4>.bg-info bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-info">
               <h4>.bg-info</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-info bg-dark">
               <h4>.bg-info bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-warning bg-light">
               <h4>.bg-warning bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-warning">
               <h4>.bg-warning</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-warning bg-dark">
               <h4>.bg-warning bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-danger bg-light">
               <h4>.bg-danger bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-danger">
               <h4>.bg-danger</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-danger bg-dark">
               <h4>.bg-danger bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-inverse bg-light">
               <h4>.bg-inverse bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-inverse">
               <h4>.bg-inverse</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-inverse bg-dark">
               <h4>.bg-inverse bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-amber bg-light">
               <h4>.bg-amber bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-amber">
               <h4>.bg-amber</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-amber bg-dark">
               <h4>.bg-amber bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-pink bg-light">
               <h4>.bg-pink bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-pink">
               <h4>.bg-pink</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-pink bg-dark">
               <h4>.bg-pink bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-purple bg-light">
               <h4>.bg-purple bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-purple">
               <h4>.bg-purple</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-purple bg-dark">
               <h4>.bg-purple bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-orange bg-light">
               <h4>.bg-orange bg-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-orange">
               <h4>.bg-orange</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-orange bg-dark">
               <h4>.bg-orange bg-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-gray-darker">
               <h4>.bg-gray-darker</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-dark">
               <h4>.bg-gray-dark</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray">
               <h4>.bg-gray</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-light">
               <h4>.bg-gray-light</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-lighter">
               <h4>.bg-gray-lighter</h4>
               <p>
                  Vestibulum rutrum venenatis pretium. <a href="">A link here </a>Proin posuere gravida ipsum, a pretium augue commodo eget.</p>
               <p class="text-muted">Some muted text</p>
               <ul class="nav">
                  <li class="active"><a href="">nav item 1</a>
                  </li>
                  <li><a href="">nav item 2</a>
                  </li>
                  <li><a href="">nav item 3</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>