<div class="app-view-header">Panels</div>
<!-- START row-->
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Default Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-primary">
         <div class="panel-heading">Primary Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-success">
         <div class="panel-heading">Success Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-info">
         <div class="panel-heading">Info Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-warning">
         <div class="panel-heading">Warning Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-danger">
         <div class="panel-heading">Danger Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<div class="row">
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-amber">
         <div class="panel-heading">Amber Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-pink">
         <div class="panel-heading">Pink Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-purple">
         <div class="panel-heading">Purple Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-3">
      <!-- START panel-->
      <div class="panel panel-orange">
         <div class="panel-heading">Orange Panel</div>
         <div class="panel-body">In ac leo dui, vel pellentesque mauris. In ac consectetur lectus. Maecenas suscipit sodales dui. Maecenas dolor ipsum, sodales non porttitor non, facilisis at eros.</div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<h4 class="page-header clearfix">
   <div class="pull-left mt-sm">Draggable panels</div>
   <button type="button" reset-key="portletState" class="pull-right btn btn-labeled btn-default btn-sm">
      <span class="btn-label">
         <em class="fa fa-refresh"></em>
      </span>Reset</button>
</h4>
<div class="portlets-wrapper">
   <!-- START row-->
   <div class="row">
      <div id="portlet-1" portlet="" class="col-lg-6">
         <!-- START panel-->
         <div id="panelPortlet1" class="panel panel-purple">
            <div class="panel-heading portlet-handler">Purple Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at arcu dolor. Suspendisse tincidunt orci nec arcu semper imperdiet volutpat elit faucibus.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus.</p>
            </div>
         </div>
         <!-- EN panel-->
         <!-- START panel-->
         <div id="panelPortlet2" class="panel panel-danger">
            <div class="panel-heading portlet-handler">Danger Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet3" class="panel panel-warning">
            <div class="panel-heading portlet-handler">Warning Panel</div>
            <div class="panel-body">
               <p>Nullam lectus nisl, hendrerit vel hendrerit quis, interdum eu felis.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus.</p>
            </div>
         </div>
         <!-- EN panel-->
      </div>
      <div id="portlet-2" portlet="" class="col-lg-6">
         <!-- START panel-->
         <div id="panelPortlet4" class="panel panel-info">
            <div class="panel-heading portlet-handler">Info Panel</div>
            <div class="panel-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus.</p>
            </div>
         </div>
         <!-- EN panel-->
         <!-- START panel-->
         <div id="panelPortlet5" class="panel panel-default">
            <div class="panel-heading portlet-handler">Default Panel</div>
            <div class="panel-body">
               <p>Integer vulputate nibh et diam sagittis in dictum mauris dapibus. Phasellus ullamcorper rhoncus sagittis. Quisque interdum sollicitudin sollicitudin.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus.</p>
            </div>
         </div>
         <!-- END panel-->
         <!-- START panel-->
         <div id="panelPortlet16" class="panel panel-inverse">
            <div class="panel-heading portlet-handler">Inverse Panel</div>
            <div class="panel-body">
               <p>Aenean iaculis diam lectus. Aenean pellentesque augue non eros commodo tempus.</p>
               <p>Aliquam auctor diam ut urna lacinia faucibus. Proin adipiscing, dolor faucibus ullamcorper interdum, urna justo convallis arcu, ultrices auctor enim turpis ut purus. Fusce a egestas turpis. Sed ullamcorper posuere eros vitae iaculis.</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
</div>