<div class="app-view-header">SweetAlert
   <small>A Beautiful Replacement For Javascript's "alert"</small>
</div>
<div ng-controller="SweetAlertController as sweet" class="container">
   <div class="row">
      <div class="col-md-2">
         <h3>Examples</h3>
      </div>
   </div>
   <hr/>
   <div class="row mb-lg">
      <div class="col-md-6">A basic message</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo1();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-md-6">A title with a text under</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo2();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-md-6">A success message!</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo3();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-md-6">A warning message, with a function attached to the &quot;Confirm&quot;-button</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo4();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-md-6">... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo5();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-md-6">A message with a custom icon</div>
      <div class="col-md-2"><a href="" ng-click="sweet.demo6();" class="btn btn-primary">Try me!</a>
      </div>
   </div>
</div>